
@footer-height: 70px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */
  ;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: @footer-height;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

#content {
  padding-top: 70px;
}

#footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: @footer-height;
  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.navbar-xs {
  min-height: 44px;
}

.navbar-xs .navbar-brand {
  padding: 0 12px;
  font-size: 16px;
  line-height: 44px;
  height: 44px;
}

.navbar-xs .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 44px;
}

.navbar-xs .navbar-toggle {
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 8px 9px;
}

.navbar-xs .navbar-form {
  margin-top: 2px;
  margin-bottom: 0px
}

#logspace {
  height:400px;
  overflow:auto;
}

#turnindicator {
  position: absolute;
  right: 2.2em;
  top: 2.2em;
}

.upflag {
  position: absolute;
  right: 0.7em;
  top: 0.2em;
  font-size: 8;
}

.upflagq{
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  font-size: 8;
}

#tablerow{
    height: 41em;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

#inst {
  height:25em;
  overflow-x: auto;
  overflow-y: auto;
}