#leftpanel{
  background-color: #B5EBEE;

}

#rightpanel{
  background-color: #B5EBEE;

}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #D8F781;
}
.buttonBoard{
    background-color: #0099ff;
    text-align: center;

}



.bu a:hover,
.bu a:focus {
    color: yellow !important;
}




#aaaaa{
text-align: center;
}
#bbb{
text-align: center;
}